POSTGRES_USER=postgres
POSTGRES_DB=bitspark_faucet_demo
RAILS_ENV=staging
DATABASE_URL=postgresql://postgres@postgres:5432/bitspark_faucet_demo
HOST_APP_PORT=3003
PROXYNET_NAME=bitshares_testnet_demo_node_proxynet

